.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  *{
    font-family: "Gaegu", sans-serif;
    background-color: rgb(255, 255, 224);
    margin: 0;
    padding: 0;
  }


h1 {
    text-align: center;
    font-size: 150px;
    padding: 70px;
    letter-spacing: -5;
    border-bottom: 1px solid rgb(0, 0, 0); /* 헤더에 2px 두께의 실선 추가 */
}

nav {
    display: flex; /* 네비게이션을 가로로 정렬하기 위해 Flexbox 사용 */
    justify-content: center; /* 가운데 정렬 */
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav ul {
    list-style-type: none; /* 목록 기호 제거 */
    padding: 30px; /* 내부 간격 제거 */
    margin: 0; /* 마진 제거 */
}

nav ul li {
    display: inline-block; /* 각 메뉴 항목을 가로로 정렬 */
    font-size: 70px;
}

nav ul li a {
    display: block;
    padding: 10px 20px; /* 위아래 10px, 좌우 20px의 패딩 설정 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 링크 색상 설정 */
}

nav ul li a:hover {
    background-color: #fffdfd; /* 호버 시 배경색 설정 */
    color: rgb(191, 228, 191);
}

img {
    padding: 30px;
    width: 600px;
    height: 600px;
}

div.sidebar { 
    background-color: rgb(255, 255, 197);
    overflow: hidden;
}



ul {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 30px;
}

ol {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 30px;
}


li {
    font-size: 40px; /* 원하는 크기로 조정 */
    padding-top: 10px;
    padding-bottom: 20px;
}
.introduction {
    font-size: 50px;
    padding-top: 20px;
}


footer {
    font-size: 50px;
    text-align: center;
    padding: 100px 0;
    letter-spacing: -5;
}
