.bagel-fat one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family: "Bagel Fat One", system-ui;
    font-weight: 30;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    border: 7px solid rgb(204, 230, 197);
    padding: 20px;
    letter-spacing: -5;
}

h2 {
    font-size: 30px;
    text-align: center;
    letter-spacing: -5;
}

ul {
    font-size: 20px;
    text-align: center;
    letter-spacing: -5;
}

footer {
    font-size: 30px;
    text-align: center;
    background-color: rgb(185, 184, 184);
    letter-spacing: -5;
}

table {
    margin: 0 auto;
    width: 500px;
    height: 100px;
    text-align: center;
}

/* 레이아웃 설정 */
.header {
    width: 800px; margin: 0 auto;
    background: white;
}

.wrap {
    width: 800px; margin: 0 auto;
    background: rgb(233, 232, 196)d;
}

.wrap {
    width: 800px; margin: 0 auto;
    overflow: hidden;
}

.aside {
    width: 200px; float: center;
    background: white;
    
}

.content {
    width: 600px; float: center;
    background: rgb(243, 242, 154);
}